spring:
  datasource:
    druid:
      username: yhkz_user
      password: xxxxxx
      url: jdbc:mysql://localhost/yhkz_hotel?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true

yhkz:
  hotel:
    redis:
      database:
        app: 0
        cache: 3
      host: localhost
      port: 6379
      passowrd: xxxxxx
