spring:
  datasource:
    druid:
      username: xxxxxx
      password: xxxxxx
      url: jdbc:mysql://localhost/yhkz_hotel?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true

yhkz:
  hotel:
    redis:
      database:
        app: 0
        token: 1
        cache: 2
      host: localhost
      port: 6379
      passowrd: xxxxxx
  config:
    dev: false

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
