package ${package.Service};

import ${package.Entity}.${table.entityName};
import org.springframework.cache.annotation.CacheConfig;


/**
 * <p>
 * ${table.comment} IService
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@CacheConfig(cacheNames = ${table.entityName}.TABLE_NAME)
public interface ${table.serviceName} extends IBaseService<${table.entityName}> {

}

