package ${package.Service};

import ${package.Entity}.${table.entityName};


/**
 * <p>
 * ${table.comment} IService
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends IBaseService<${table.entityName}> {

}

